{% extends 'todo_app/base.html' %}

{% block title %}ToDo List{% endblock %}

{% block content %}
    <h1 class="mb-4">ToDo List</h1>
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">
                <strong>{{ task.title }}</strong> - {{ task.description }}
                <div class="btn-group float-end">
                    <a href="{% url 'edit_task' pk=task.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_task' pk=task.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_task' %}" class="btn btn-primary mt-3">Add new task</a>
{% endblock %}
